#banner {
    height: 350px;
    width: 100%;
}

#banner .carousel {
    height: 350px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 40%;
}

#muva-info {
    height: 180px;
    width: 100%;
    text-align: center;
}

.muva-info-block {
    display: inline-block;
    float: left;
    height: 100%;
    width: calc(100% / 3);
    color: black;
    text-align: center;
    box-sizing: border-box;
    padding-top: 40px;
}

.muva-info-block h2 {
    font-weight: 300;
    font-size: 25px;
}

.muva-info-block h3 {
    font-size: 45px;
}

#muva-about {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 0 50px;
    margin-bottom: 30px;
}
