html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

nav {
    height: 70px;
    width: 100%;
    box-shadow: 1px 1px 1px #f0f0f0;
    box-sizing: border-box;
    padding: 0 70px !important;
}

nav a {
    display: inline-block;
    height: 70px;
    color: black !important;
    text-align: center;
    font-size: 16px;
    line-height: 70px;
    transition: background .5s;
    background: white;
    box-sizing: border-box;
    padding: 0 16px;
}

nav a:hover {
    background: #f0f0f0;
}

#nav-logo {
    height: 61px;
    width: 200px;
    background: url(../img/logo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 5px;
}

#nav-logo-a:hover {
    background: white;
}

#nav-right {
    display: inline-block;
    position: absolute;
    right: 40px;
}

.subnav {
    width: 150px;
    background: white;
    border: 1px solid #f0f0f0;
}

.subnav a {
    display: block;
    padding: 0 20px;
}

#nav-center-inner {
    position: absolute;
    display: none;
    right: 150px;
    z-index: 2;
}

#nav-about-inner {
    position: absolute;
    right: 50px;
    display: none;
    z-index: 2;
}

main {
    box-sizing: border-box;
}

footer {
    height: 200px;
    width: 100%;
    background: #f0f0f0;
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    padding-top: 30px !important;
    z-index: 999999;
}

#footer-close {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    font-size: 40px;e
}

#footer-close i {
    position: relative;
    bottom: 12px;
}

#footer-center {
    height: 85px;
    width: 100%;
    margin: auto;
    font-size: 12px;
    text-align: center;
    position: absolute;
    bottom: 0;
}

#footer-join-us {
    height: 50px;
    width: 100%;
    text-align: center;
}
