<a id="nav-logo-a" href="index.html">
    <div id="nav-logo"></div>
</a>

<div id="nav-right">
    <a id="nav-center" href="#">
        {{ pc }}
    </a>

    <div id="nav-center-inner-{{ lang }}" class="subnav">
        <a href="register.html">
            {{ reg }}
        </a>

        <a href="flight-center.html">
            {{ fc }}
        </a>

        <a href="activity-center.html">
            {{ ac }}
        </a>

        <a href="allPilots.html">
            {{ ap }}
        </a>
    </div>

    <a id="nav-about" href="#">
        {{ at }}
    </a>

    <div id="nav-about-inner-{{ lang }}" class="subnav">
        <a href="airlines.html">
            {{ al }}
        </a>

        <a href="routes.html">
            {{ rt }}
        </a>

        <a href="fleet.html">
            {{ ft }}
        </a>

        <a href="staff.html">
            {{ sf }}
        </a>
    </div>

    <a href="flight-tracker.html">
        {{ tr }}
    </a>

    <a id="nav-lang" href="#">
        <i-switch v-model="open" @on-change="change">
            <span slot="open">中</span>
            <span slot="close">En</span>
        </i-switch>
    </a>
</div>
