<a id="nav-logo-a" href="index.html">
    <div id="nav-logo"></div>
</a>

<div id="nav-right">
    <a id="nav-center" href="#">
        Pilot Center
    </a>

    <div id="nav-center-inner" class="subnav">
        <a href="register.html">
            Register
        </a>

        <a href="flight-center.html">
            Flight Center
        </a>

        <a href="activity-center.html">
            Activity Center
        </a>

        <a href="allPilots.html">
            All Pilots
        </a>
    </div>

    <a id="nav-about" href="#">
        About
    </a>

    <div id="nav-about-inner" class="subnav">
        <a href="airlines.html">
            Airlines
        </a>

        <a href="routes.html">
            Routes
        </a>

        <a href="fleet.html">
            Fleet
        </a>

        <a href="staff.html">
            Staff
        </a>
    </div>

    <a href="flight-tracker.html">
        Tracker
    </a>
</div>
